<?xml version="1.0"?>
<!-- ############################# -->
<!-- Agro Bot Description -->
<!-- Chetan VJ© -->

<robot name = "differential_drive_robot" xmlns:xacro = "http://www.ros.org/wiki/xacro">

<xacro:property name="camera_name" value="cam1"/>
<!-- Body Dimensions (units in meters)-->
<xacro:property name="body_link_x_dim" value="0.79"/>
<xacro:property name="body_link_y_dim" value="0.5"/>
<xacro:property name="body_link_z_dim" value="0.13"/>

<!-- Wheel Dimensions -->
<xacro:property name="wheel_link_radius" value="0.125"/>
<xacro:property name="wheel_link_length" value="1"/>
<xacro:property name="wheel_mesh_scale"  value="${wheel_link_radius/125}" />
<xacro:property name="wheel_link_z_loc" value="-0.05"/>

<!-- Material Density -->
<xacro:property name="body_density" value="2700"/>
<xacro:property name="wheel_density" value="2700"/>

<!-- Pi Constant -->
<xacro:property name="pi_const" value="3.14159265"/>

<!-- Robot Body & wheel mass -->
<xacro:property name="body_mass" value="${body_density*body_link_x_dim*body_link_y_dim*body_link_z_dim}" />

<xacro:property name="wheel_mass" value="${wheel_density*pi*wheel_link_radius*wheel_link_radius*wheel_link_length}" />

<!-- Moments of inertia of wheel -->
<xacro:property name="Iz_wheel" value="${0.5*wheel_mass*wheel_link_radius*wheel_link_radius}" /> <!-- MI about cylindrical axis-->
<xacro:property name="I_wheel" 
value = "${(1.0/12.0)*wheel_mass*(3.0*wheel_link_radius*wheel_link_radius + wheel_link_length*wheel_link_length)}" />

<!-- Inertia of wheel -->
<xacro:macro name="inertia_wheel">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <mass value="${wheel_mass}"/>
        <inertia ixx = "${I_wheel}" ixy = "0.0" ixz = "0.0" iyy = "${I_wheel}" iyz = "0" izz = "${Iz_wheel}" />
    </inertial>
</xacro:macro>

<!-- Include extra Gazebo options & motion control driver  -->
<!-- 'gazebo_env'is the package name -->
<xacro:include filename="$(find gazebo_env)/model/robot.gazebo" />

<!-- ################################################# -->
<!-- LINKS & JOINTS -->
<!-- ################################################# -->

<!-- Dummy link -->
<link name="dummy" />

<!-- The base_footprint link is required by the slam toolbox, as mentioned  -->
<!-- in the mapper_params_ yaml file -->
<joint name="base_footprint_joint" type="fixed">
    <parent link="dummy"/>
    <child link="base_footprint"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<link name="base_footprint" />

<joint name= "dummy_joint" type="fixed">
    <parent link="dummy" />
    <child  link="body_link" />
</joint>

<!-- Body Link -->
<link name="body_link" >
    <visual>
        <geometry>
            <box size="${body_link_x_dim} ${body_link_y_dim} ${body_link_z_dim}" />
        </geometry>
    <origin rpy="0 0 0" xyz="0 0 0" />
    </visual>

    <collision>
        <geometry>
            <box size="${body_link_x_dim} ${body_link_y_dim} ${body_link_z_dim}" />
        </geometry>
    </collision>

    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <mass value="${body_mass}" />
        <inertia    ixx="${(1/12)*body_mass*(body_link_y_dim*body_link_y_dim + body_link_z_dim*body_link_z_dim)}"
                    iyy="${(1/12)*body_mass*(body_link_x_dim*body_link_x_dim + body_link_z_dim*body_link_z_dim)}"
                    izz="${(1/12)*body_mass*(body_link_y_dim*body_link_y_dim + body_link_x_dim*body_link_x_dim)}"
                    ixy="0" ixz="0" iyz="0"
        />
    </inertial>
</link>

<!-- Rear wheel Right (rwr)-->
<!-- Joint -->
<joint name="rwr_joint" type="continuous" >
    <parent link="body_link" />
    <child  link="rwr_link"  />
    <origin xyz="${-body_link_x_dim/2} ${-(body_link_y_dim/2 + wheel_link_length/2)} ${wheel_link_z_loc}" rpy = "0 0 0" />
    <axis xyz = "0 1 0"/> <!-- Revolves around y axis-->
    <limit effort="1000" velocity="1000"/>
    <dynamics damping="1.0" friction="1.0" />
</joint>

<!-- Link -->
<link name="rwr_link">
    <visual>
        <origin rpy="${pi_const/2} 0 ${-pi_const/2}" xyz="0 0.5 0" /> <!-- Rotate by 90deg -->
        <geometry>
            <mesh filename="file://$(find gazebo_env)/meshes/wheel.stl" scale="${wheel_mesh_scale} ${wheel_mesh_scale} ${wheel_mesh_scale}" />
        </geometry>
    </visual>

    <collision>
        <origin rpy="${pi_const/2} 0 0" xyz="0 0 0" />
        <geometry>
            <cylinder length="${wheel_link_length}" radius="${wheel_link_radius}" />
        </geometry>
    </collision>

    <xacro:inertia_wheel />
</link>

<!-- Rear wheel left (rwl) -->
<!-- Joint -->
<joint name="rwl_joint" type="continuous" >
    <parent link="body_link" />
    <child  link="rwl_link"  />
    <origin xyz="${-body_link_x_dim/2} ${(body_link_y_dim/2 + wheel_link_length/2)} ${wheel_link_z_loc}" rpy = "0 0 0" />
    <axis xyz = "0 1 0"/> <!-- Revolves around y axis-->
    <limit effort="1000" velocity="1000"/>
    <dynamics damping="1.0" friction="1.0" />
</joint>
<!-- Link  -->
<link name="rwl_link">
    <visual>
        <origin rpy="${pi_const/2} 0 ${pi_const/2}" xyz="0 -0.5 0" /> <!-- Rotate by 90deg -->
        <geometry>
            <mesh filename="file://$(find gazebo_env)/meshes/wheel.stl" scale="${wheel_mesh_scale} ${wheel_mesh_scale} ${wheel_mesh_scale}" />
        </geometry>
    </visual>

    <collision>
        <origin rpy="${pi_const/2} 0 0" xyz="0 0 0" />
        <geometry>
            <cylinder length="${wheel_link_length}" radius="${wheel_link_radius}" />
        </geometry>
    </collision>

    <xacro:inertia_wheel />
</link>

<!-- Front Wheel right (fwr) -->
<!-- Joint -->
<joint name="fwr_joint" type="continuous" >
    <parent link="body_link" />
    <child  link="fwr_link"  />
    <origin xyz="${body_link_x_dim/2} ${-(body_link_y_dim/2 + wheel_link_length/2)} ${wheel_link_z_loc}" rpy = "0 0 0" />
    <axis xyz = "0 1 0"/> <!-- Revolves around y axis-->
    <limit effort="1000" velocity="1000"/>
    <dynamics damping="1.0" friction="1.0" />
</joint>
<!-- Link  -->
<link name="fwr_link">
    <visual>
        <origin rpy="${pi_const/2} 0 ${-pi_const/2}" xyz="0 0.5 0" /> <!-- Rotate by 90deg -->
        <geometry>
            <mesh filename="file://$(find gazebo_env)/meshes/wheel.stl" scale="${wheel_mesh_scale} ${wheel_mesh_scale} ${wheel_mesh_scale}" />
        </geometry>
    </visual>

    <collision>
        <origin rpy="${pi_const/2} 0 0" xyz="0 0 0" />
        <geometry>
            <cylinder length="${wheel_link_length}" radius="${wheel_link_radius}" />
        </geometry>
    </collision>

    <xacro:inertia_wheel />
</link>

<!-- Front Wheel left (fwl) -->
<!-- Joint  -->
<joint name="fwl_joint" type="continuous" >
    <parent link="body_link" />
    <child  link="fwl_link"  />
    <origin xyz="${body_link_x_dim/2} ${(body_link_y_dim/2 + wheel_link_length/2)} ${wheel_link_z_loc}" rpy = "0 0 0" />
    <axis xyz = "0 1 0"/> <!-- Revolves around y axis-->
    <limit effort="1000" velocity="1000"/>
    <dynamics damping="1.0" friction="1.0" />
</joint>
<!-- Link  -->
<link name="fwl_link">
    <visual>
        <origin rpy="${pi_const/2} 0 ${pi_const/2}" xyz="0 -0.5 0" /> <!-- Rotate by 90deg --> <!-- xyz values purely for visualization, doesn't affect simulation -->
        <geometry>
            <mesh filename="file://$(find gazebo_env)/meshes/wheel.stl" scale="${wheel_mesh_scale} ${wheel_mesh_scale} ${wheel_mesh_scale}" />
        </geometry>
    </visual>

    <collision>
        <origin rpy="${pi_const/2} 0 0" xyz="0 0 0" />
        <geometry>
            <cylinder length="${wheel_link_length}" radius="${wheel_link_radius}" />
        </geometry>
    </collision>

    <xacro:inertia_wheel />
</link>

<!-- Camera Link -->
<joint name = "camera_joint" type="fixed">
    <parent link="body_link"/>
    <child link="camera_link" />
    <origin xyz="${body_link_x_dim/2} 0 ${body_link_z_dim/2}" />
</joint>

<link name="camera_link">
    <visual>
        <geometry>
            <box size="0.010 0.03 0.03"/>
        </geometry>
        <!-- <material name="red"/> -->
    </visual>
</link>

<joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
</joint>

<link name="camera_link_optical"></link>

<!-- Lidar Link  -->
<joint name="lidar_joint" type="fixed">
    <parent link="body_link" />
    <child link="lidar_link" />
    <origin xyz="${-body_link_x_dim/2+0.1} 0 ${body_link_z_dim/2+0.02}" />
</joint>

<link name="lidar_link">
    <visual>
        <geometry>
            <cylinder radius="0.08" length="0.04"/>
        </geometry>
    </visual>
    <collision>
        <geometry>
            <cylinder radius="0.08" length="0.04"/>
        </geometry>
    </collision>
</link>

</robot>
