<?xml version="1.0"?>
<!-- ############################# -->
<!-- Agro Bot Description -->
<!-- Chetan VJ© -->

<robot name = "differential_drive_robot" xmlns:xacro = "http://www.ros.org/wiki/xacro">

<!-- Body Dimensions (units in meters)-->
<xacro:property name="body_link_x_dim" value="0.79"/>
<xacro:property name="body_link_y_dim" value="0.5"/>
<xacro:property name="body_link_z_dim" value="0.13"/>

<!-- Wheel Dimensions -->
<xacro:property name="wheel_link_radius" value="0.125"/>
<xacro:property name="wheel_link_length" value="0.05"/>
<xacro:property name="wheel_link_z_loc" value="-0.05"/>

<!-- Material Density -->
<xacro:property name="body_density" value="2700"/>
<xacro:property name="wheel_density" value="2700"/>

<!-- Pi Constant -->
<xacro:property name="pi" value="3.14159265"/>

<!-- Robot Body & wheel mass -->
<xacro:property name="body_mass" value="${body_density*body_link_x_dim*body_link_y_dim*body_link_z_dim}" />

<xacro:property name="wheel_mass" value="${wheel_density*pi*wheel_link_radius*wheel_link_radius*wheel_link_length}" />

<!-- Moments of inertia of wheel -->
<xacro:property name="Iz_wheel" value="${0.5*wheel_mass*wheel_link_radius*wheel_link_radius}" /> <!-- MI about cylindrical axis-->
<xacro:property name="I_wheel" 
value = "${(1.0/12.0)*wheel_mass*(3.0*wheel_link_radius*wheel_link_radius + wheel_link_length*wheel_link_length)" />

<!-- Inertia of wheel -->
<xacro:property name="inertia_wheel">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <mass value="${wheel_mass}"/>
        <inertia ixx = "${I_wheel}" ixy = "0.0" ixz = "0.0" iyy = "${I_wheel}" iyz = "0" izz = "${Iz_wheel}" />
    </inertial>
</xacro:property>




</robot>
